<!DOCTYPE html>
<html>
  <head>
    <title> Sök </title>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
      
	<div id="render">
	
       <form method="post">
			<div>
			Lägg till ny sak att ge bort
			</div>
			<div>
			Titel:<input type = "text" name='title'>
			</div>
<!--
			<div>
			Kategori:<input type = "text">
			</div>
-->
			<div>
                Text:<textarea rows="30" cols="30" name='description'>
			</textarea>
			</div>
			<div>
			<input type = "submit" value="Förhandsgranska">
			</div>
           
       
<input type="file" name="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>
			</form>
			<a href="/">Tillbaka till sök</a>
      
	</div>
</body>
	</html>