<!DOCTYPE html>
<html>
  <head>
    <title> Sök </title>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="render">
	<p class="success">Din sak sparades</p>
        <%= thing %>
        <a href="/sak">titta på alla saker</a>
        
</body>
	</html>