<!DOCTYPE html>
<html>

<head>
    <title> Sök </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="render">

        <img src="<%= url %>">
    </div>
</body>

</html>