<!DOCTYPE html>
<html>
  <head>
    <title>New thing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New thing</h1>
 <div id="things">
    <p><%= title %></p>
    <p><%= doing %></p>

    <textarea>titel</textarea>

    <a href="/">home</a>

      </body>
</html>


 