<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<div id="render">
	<form>
	Sök
	<input type = "text">
	<input type = "submit" value="Sök">

    <a href="/newThing">Lagg till ny</a>

      </body>
</html>