<!DOCTYPE html>
<html>
  <head>
    <title> Sök </title>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      
      
	<div id="render">
		<%- thing %>

	</div>
</body>
	</html>