<!DOCTYPE html>
<html>
  <head>
    <title> Sök </title>
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="render">
	<form action="/search" method="post">
			Sök
			<input type = "text">
			<input type = "submit" value="Sök">
			<a href="/nysak">Lagg till ny</a>
	</div>
</body>
	</html>