<div id="render">
    <form method="post"></form>
    <input type="hidden" value="<%= id %>" name="username"> Lösenord:
    <input type="password" name="password">
    <input type="submit" value="Logga in">
</div>