<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
    <script src="js/ngapp.js"></script>
    <title>freestore.se </title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="freestore">

    <div id="render">
        <form method="post" enctype="multipart/form-data">
            <div>
                Lägg till ny sak att ge bort
            </div>
            <div>
                Titel:
                <input type="text" name='title'>
            </div>

            <div>
                Kategori:
                <select name="category">
                    <option value="clothes">Kläder</option>
                    <option value="kids">Barn</option>
                    <option value="home">För hemmet</option>
                    <option value="cars">Fordon</option>
                    <option value="electronics">Hemelektronik</option>
                    <option value="outdoor">Sport och fritid</option>
                </select>
            </div>
            <div>
                Kontakt:
                <br> Telefonnummer:
                <input type="text" name="telephone"> Epost:
                <input type="email" name="email">
            </div>
            <div>Plats:
                <select name="location">
                    <option value="uppsala">Uppsala</option>
                    <option value="stockholm">Stockholm</option>
                    <option value="falun">Falun</option>
                    <option value="malmo">Malmö</option>
                    <option value="goteborg">Göteborg</option>
                </select>
            </div>
            <br>
            <div>
                Beskrivning:
                <textarea rows="30" cols="30" name='description'>
                </textarea>
            </div>
            <div>
                Välj foto:
                <input type="file" name='image' />
            </div>
            <div>Välj ett lösenord:
                <input type="password" name='password'>
            </div>
            <div>
                <input type="submit" value="Förhandsgranska">
            </div>
        </form>
        <a href="/">Tillbaka till sök</a>
    </div>

</body>

</html>