<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
    <script src="../js/ngapp.js"></script>
    <title>freestore.se </title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="freestore">
  <div class="col-lg-offset-3 col-md-offset-2 col-lg-6 col-md-8 col-sm-12 col-xs-12" ng-controller="ThingController as thingctrl">
      <div class="panel panel-default">
           
                    <img src="{{thingctrl.requested.photopath}}" />
   
            
          <div class="panel-heading">  <h1>{{thingctrl.requested.title}}</h1>
                 </div>
             <strong>Kategori: </strong>{{thingctrl.requested.category}}
        <br>
                 <strong>Beskrivning: </strong>
       {{thingctrl.requested.description}}
            <br>
                 <strong>Kontakta givare:</strong>
                 <strong>Telefon:</strong>
           {{thingctrl.requested.contact.telephone}}
                    <br>
    <strong>Epost: </strong>            {{thingctrl.requested.contact.email}}
                    <br>
                <strong>Annonsen inlagd: </strong>{{thingctrl.requested.time  | date:'MM/dd/yyyy @h:mma'}}
                        <br>
                        {{thingctrl.requested.location}}
                            <br>
            <br>
                  
           
            <a href="/Edit" class="btn btn-primary btn-xs">Ändra något</a>
            <a href="/tabort" class="btn btn-danger btn-xs">Ta bort annons</a>
         
    
                    </div></div>
               </body>
</html>