<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-12 col-xs-12" id="pagecontainer">
    <div class="panel panel-success" ng-show="showSuccess">
        <div class="panel-heading">
            <button type="button" class="close" ng-click="resetSuccess()">×</button>
            <h3 class=" panel-title ">Grattis!</h3>
        </div>
        <div class="panel-body ">
            {{successMessage}}
        </div>

    </div>

    <div class="search panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Sök efter en sak</h2>
        </div>
        <div class="panel-body">
            <form>
                <input type="text" ng-model="searchText ">
                <input type="submit" ng-click="search()" class="btn btn-xs" value="Sök efter {{searchText}} ">
            </form>
        </div>
    </div>
</div>

<div class="col-lg-offset-3 col-md-offset-2 col-lg-6 col-md-8 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{resultHeading}}</h2>
        </div>
        <div class="panel-body">
            <h5 class="text-danger" ng-show="noResult">Inga resultat för {{searchText}} hittades</h5>
            <div class="panel panel-default" ng-repeat="thing in collection">
                <div class="panel-body">

                    <a href="/#/thing/{{thing._id}}">
                        <h3>{{thing.title}}</h3>
                        <p>{{thing.time | date:'MM/dd/yyyy @h:mma'}}</p>
                        <img class="thumb" ng-src="{{thing.photopath}} " />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>